################################################################################
#region Includes

-r pip-requirements-base.txt

#endregion Includes
################################################################################

################################################################################
#region third party

# https://docs.pytest.org/
pytest
# https://pypi.org/project/pytest-threadleak/
pytest-threadleak
# https://pypi.org/project/pytest-timestamper/
pytest-timestamper


#endregion third party
################################################################################

################################################################################
#region ours (external)



#endregion ours (external)
################################################################################

################################################################################
#region ours (internal)



#endregion ours (internal)
################################################################################


################################################################################
#region Self Setup (required for pytest)

-e .

#endregion
################################################################################
