################################################################################
#region Includes

-r pip-requirements-base.txt

#endregion Includes
################################################################################

################################################################################
#region Third Party

# https://docs.pytest.org/
pytest
# https://pypi.org/project/pytest-threadleak/
pytest-threadleak
# https://pypi.org/project/pytest-timestamper/
pytest-timestamper


#endregion Third Party
################################################################################

################################################################################
#region First Party



#endregion First Party
################################################################################

################################################################################
#region Ours



#endregion Ours
################################################################################


################################################################################
#region Self Setup (required for pytest)

-e .

#endregion
################################################################################
